<!DOCTYPE html>
<html>
  <body>
    <h3>tsting purpose dkjfasjfdkasdfkl;</h3>

    <h2>new data added now</h2>

    <h1> html is hyper text mark up language</h1>

    <p>hii this is mani im software developer and im working in wipro and it is contract postion, payroll 
      company wille be cyber best technology</p>
   <table>
     <tr>
       <th>itemname</th>
       <th>itemqty</th>
       <th>item code</th>
       <th>location</th>
     </tr>
     <tr>
       <td>anglar material</td>
       <td>10</td>
       <td>m145</td>
       <td>hyderabad</td>
     </tr>
   </table>

   <h4>this is footer section</h4>
   <select>
     <option>choose any one</option>
     <option>1</option>
     <option>2</option>
     <option>3</option>
     <option>4</option>
   </select>

   <h2>Git steps</h2>
    <ol>
      <li>first we need to create new repository by clicking new button and we</li>
      <li>now we can give the repository name and click create repository button</li>
      <li>go to main folder (enter command cd ..)and after this we can do clone by run this command 
        <mark>git clone httpsurl(https://github.com/Pandukumar9/gitsetup.git)</mark> later we can go to the repository
         location in vscode next open this project by run this command <mark>code .</mark>and finally we came into the 
         gitsetup project
      </li>
      <li>if we want to add the people into this project then we can goto settings and next go to manage access now here we can enter
     the git registered person name and select it.
      </li>
      <li>that's it and like this we can add upto 10memberss only but incase if we want to more then we need to purcahse it for access git </li>
      <li>now the admin person(first perosn) create one file html(test.html) and after this we can add this code into git 
        by enter this command <mark>git add .</mark>
      </li>
      <li>next we can check it added or not by run this commad <small>git status</small></li>
      <li>now we can commit this code by run this command <small>git commit -m "add function"</small></li>
      <li>later we can push this code now by run this command <small>git push</small></li>
      <li>final step we can check it by run this command <b>git log</b> thats it finished succedfully pushed the code.</li>
    </ol>
    <h2>2nd person added some code in this file</h2>
    <ol>
      <li>similarly 2nd person was open this file and add some code inthis file and </li>
    </ol>
  </body>
</html>
