<!DOCTYPE html>
<html>
  <body>
    <h3>tsting purpose dkjfasjfdkasdfkl;</h3>

    <h2>new data added now</h2>

    <h1> html is hyper text mark up language</h1>

    <p>hii this is mani im software developer and im working in wipro and it is contract postion, payroll 
      company wille be cyber best technology</p>
   <table>
     <tr>
       <th>itemname</th>
       <th>itemqty</th>
       <th>item code</th>
       <th>location</th>
     </tr>
     <tr>
       <td>anglar material</td>
       <td>10</td>
       <td>m145</td>
       <td>hyderabad</td>
     </tr>
   </table>

   <h4>this is footer section</h4>
   <select>
     <option>choose any one</option>
     <option>1</option>
     <option>2</option>
     <option>3</option>
     <option>4</option>
   </select>
  </body>
</html>
